/Sesion22VelazquezDTI/nbproject/private/
/Sesion32VelazquezDTI_BD/nbproject/private/
/Sesion32VelazquezDTI_BD/build/
/Bonovo_Velazquez_SA_de_CV/nbproject/private/
/Bonovo_Velazquez_SA_de_CV/build/
/ex1erVelazquez_57CM/nbproject/private/
/ex1erVelazquez_57CM/build/
